@for $i from 1 through 20 {
    // padding
    .p-#{$i} {
        padding: $i * 0.25rem !important;
    }
    .pl-#{$i} {
        padding-left: $i * 0.25rem !important;
    }
    .pr-#{$i} {
        padding-right: $i * 0.25rem !important;
    }
    .pt-#{$i} {
        padding-top: $i * 0.25rem !important;
    }
    .pb-#{$i} {
        padding-bottom: $i * 0.25rem !important;
    }
    .px-#{$i} {
        padding-left: $i * 0.25rem !important;
        padding-right: $i * 0.25rem !important;
    }
    .py-#{$i} {
        padding-top: $i * 0.25rem !important;
        padding-bottom: $i * 0.25rem !important;
    }
    // margin
    .m-#{$i} {
        margin: $i * 0.25rem !important;
    }
    .ml-#{$i} {
        margin-left: $i * 0.25rem !important;
    }
    .mr-#{$i} {
        margin-right: $i * 0.25rem !important;
    }
    .mt-#{$i} {
        margin-top: $i * 0.25rem !important;
    }
    .mb-#{$i} {
        margin-bottom: $i * 0.25rem !important;
    }
    .mx-#{$i} {
        margin-left: $i * 0.25rem !important;
        margin-right: $i * 0.25rem !important;
    }
    .my-#{$i} {
        margin-top: $i * 0.25rem !important;
        margin-bottom: $i * 0.25rem !important;
    }
    // spacing
    .sy-#{$i} {
        display: block;
        height: $i * 10px;
    }
    .sx-#{$i} {
        display: inline-block;
        height: 1px;
        width: $i * 10px;
    }
}
@media screen and (min-width: 1200px) {
    @for $i from 1 through 20 { 
        .sy-lg-#{$i} {
            display: block;
            height: $i * 10px;
        }
        .sx-lg-#{$i} {
            display: inline-block;
            height: 1px;
            width: $i * 10px;
        }
    }
}
@media screen and (min-width: 992px) {
    @for $i from 1 through 20 { 
        .sy-md-#{$i} {
            display: block;
            height: $i * 10px;
        }
        .sx-md-#{$i} {
            display: inline-block;
            height: 1px;
            width: $i * 10px;
        }
    }
}
@media screen and (min-width: 768px) {
    @for $i from 1 through 20 { 
        .sy-sm-#{$i} {
            display: block;
            height: $i * 10px;
        }
        .sx-sm-#{$i} {
            display: inline-block;
            height: 1px;
            width: $i * 10px;
        }
    }
}
@media screen and (min-width: 576px) {
    @for $i from 1 through 20 { 
        .sy-xs-#{$i} {
            display: block;
            height: $i * 10px;
        }
        .sx-xs-#{$i} {
            display: inline-block;
            height: 1px;
            width: $i * 10px;
        }
    }
}